@{
    ViewBag.Title = "MeetingRoomBookingSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="subheader md-4">
    <h4 class="subheader-title p-4">
        <i class="subheader-icon fa fa-calendar-alt fa-lg"></i>
        <span data-id="text">資源預約</span>
    </h4>
</div>

@*modal Calendar-modal*@
<div class="modal fade" id="Calendar-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="Modaltitle">Booking Resource</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="AddMRForm" name="AddMRForm" enctype="multipart/form-data">
                    <div class="form-group ">
                        <span class="fa fa-user m-3">員工編號 :</span>
                        <input type="text" class="form-control col-lg-11 mx-2" id="EmID" readonly>
                    </div>
                    <div class="form-group">
                        <span class=" fa fa-user m-3">中文姓名 :</span>
                        <input type="text" class="form-control col-lg-11 ml-2" id="Emname" readonly>
                    </div>
                    <div class="form-group">
                        <span class="far fa-address-card m-3">會議室名稱：</span>
                        <select name="MeetingRoomName" class="AddMRName form-control col-lg-11 ml-2">
                            <option value="會議室" disabled selected>請選擇會議室</option>
                            <option value="601會議室">601會議室-4人</option>
                            <option value="602會議室">602會議室-6人</option>
                            <option value="603會議室">603會議室-8人</option>
                            <option value="604會議室">604會議室-10人</option>
                            <option value="605會議室">605會議室-10人</option>
                            <option value="606訓練教室">訓練教室-30人</option>
                            <option value="公務車01">公務車01-4人</option>
                            <option value="公務車02">公務車02-6人</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="far fa-newspaper m-3">會議主旨 : </span>
                        <input type="text" class="form-control col-lg-11 ml-2" id="MRSubject">
                    </div>
                    <div class="form-group">
                        <span class="fas fa-calendar-check m-3">使用時間：</span>
                        <input type="datetime-local" class="form-control col-lg-11 ml-2" id="MRStart" />
                    </div>
                    <div class="form-group">
                        <span class="fas fa-calendar-check m-3">結束時間</span>
                        <input type="datetime-local" class="form-control col-lg-11 ml-2" id="MREnd" />
                    </div>
                    <div class="form-group">
                        <span class="fa fa-user m-3">會議參與人員 : </span>
                        <input type="text" class="form-control col-lg-11 ml-2" id="AddMEMAttn">
                    </div>
                    <div class="form-group">
                        <span class=" fas fa-tasks m-3">會議備註 : </span>
                        <textarea class="form-control col-lg-11 ml-2 AddMRRemark" name="MeetingRemark" style="resize: none;" rows="9"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-info AddMRReset pull-right">Reset</button>
                <button type="button" class="btn btn-secondary AddMRClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary " id="AddMRSend">Send</button>
                <button type="button" class="btn btn-danger AddMRDelete">Delete</button>
            </div>
        </div>
    </div>
</div>
@*End modal*@
@*checkbox*@
<div class="container-fluid Box">
    <div class="row">
        <div class="col-sm-auto">
            <div class="panel-container show" id="ResourceCheckForm">
                <div class="form-group mb-2">
                    <span class="input-group-text">
                        <i class="fas fa-search m-3"></i>
                        <input type="search" class="form-control" placeholder="主旨搜尋" />
                    </span>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">
                            <!-- Default checked -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkAll" checked>
                                <label class="custom-control-label" for="checkAll">Check all</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check601">
                                <label class="custom-control-label" for="check601">601會議室-4人</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check602">
                                <label class="custom-control-label" for="check602">602會議室-6人</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check603">
                                <label class="custom-control-label" for="check603">603會議室-8人</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check604">
                                <label class="custom-control-label" for="check604">604會議室-10人</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check604">
                                <label class="custom-control-label" for="check604">604會議室-10人</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check605">
                                <label class="custom-control-label" for="check605">605會議室-10人</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check606">
                                <label class="custom-control-label" for="check606">訓練教室-30人</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkCar01">
                                <label class="custom-control-label" for="checkCar01">公務車01</label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkCar02">
                                <label class="custom-control-label" for="checkCar02">公務車02</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 md-auto ">
            <div id='calendar'></div>
        </div>
    </div>
</div>


<link href="~/lib/main.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />



@section script{
    <script src="~/lib/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var events = [];
         
            var userId = document.cookie.split('id=')[1].split('&')[0];
            var userName = decodeURI(document.cookie.split('Name=')[1].split('&')[0]);
  
            //    /*Generate-Ajax*/



            /* console.log(userName);*/


            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                nowIndicator: true,
                customButtons: {
                    add: {
                        text: '+',
                        click: function () {
                            alert('clicked the custom button!');
                            $('#Calendar-modal').modal();
                        }
                    }
                },
                headerToolbar: {
                    left: 'add prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                /*   timeFormat: 'h(:mm)a',*/
                slotMinTime: '08:30',
                slotMaxTime: '18:00',
                //navLinks: true, // can click day/week names to navigate views
                editable: true,
                selectable: true,
                selectMirror: true,
                dayMaxEvents: true, /*// allow "more" link when too many events*/
                events: [
                    {
                        title: 'All Day Event',
                        start: '2021-03-24',
                    },
                    {
                        title: 'Long Event',
                        start: '2021-03-25',
                        end: '2021-03-26',
                    },
                    {
                        title: 'Room601',
                        start: '2021-03-25',
                        end: '2021-03-25',
                    },

                ],
                //color: v.ThemeColor,
                //allDay: v.IsFullDay,
     
                eventClick: function (info) {
                    $('#Calendar-modal').modal(info);
                    alert('events: ' + info.event.title + info.event.start);
                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY); //X, Y軸
                    alert('View: ' + info.view.type);
                    info.el.style.borderColor = '#84C1FF';    // change the border color just for fun


                },

            });
            calendar.render();

        })
    </script>
}

