
@{
    ViewBag.Title = "BookingView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #dataEditl {
        position: relative;
    }

    .modal {
        height: auto;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        transform-origin: center !important;
        margin: 0 auto !important;
    }
</style>
@*<h2>BookingView</h2>*@


<div class="subheader md-4">
    <h4 class="subheader-title p-4">
        <i class="bookmark outline icon"></i>
        <span data-id="text">資源預約</span>
    </h4>
</div>

@*modal +Add Calendar-modal*@
<div class="ui modal centermodal" id="Calendar-modal">
    <i class="ui-icon cancel"></i>
    <h1 class="ui header modelHeader">Booking Resource</h1>
    <div class="content">
        <form class="ui form Booking-modal" name="bookingModal">
            <div class="two fields">
                <div class="field">
                    <label for="name">中文姓名</label>
                    <input type="text" id="emNname" name="name" placeholder="Name" readonly="" value="">
                </div>
                <div class="field">
                    <label for="employeeId">員工編號</label>
                    <input type="text" id="emId" name="employeeId" readonly="" value="">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label for="MeetingRoomName">Resource</label>
                    @*<input type="text" name="MeetingRoomName" id="MeetingRoomName" >*@
                    <select class="ui search dropdown" name="MeetingRoomName" id="MeetingRoomName">
                        <option value=""></option>
                        <option value="601會議室">601會議室-4人</option>
                        <option value="602會議室">602會議室-6人</option>
                        <option value="603會議室">603會議室-8人</option>
                        <option value="604會議室">604會議室-10人</option>
                        <option value="605會議室">605會議室-10人</option>
                        <option value="606訓練教室">訓練教室-30人</option>
                        <option value="公務車01">公務車-4人</option>
                        <option value="公務車02">公務車-6人箱型</option>
                    </select>
                </div>
                <div class="field">
                    <label for="MeetingSubject">主旨</label>
                    <input type="text" name="MeetingSubject" id="MeetingSubject" value="">
                </div>
            </div>
            <div class="field">
                <div class="ui checked checkbox">
                    <input type="checkbox" id="chboxisAllday" checked="checked">
                    <label for="isAllday"><i class="tasks icon"></i>All day</label>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label for="BookingStartTime"><i class="calendar check icon"></i>開始時間</label>
                    @*<input type="text" name="BookingStartTime" id="BookingStartTime">*@
                    <div class="ui calendar" id="example13" data-position="fixed">
                        <div class="ui input left icon">
                            @*<i class="calendar icon"></i>*@
                            <input type="text" placeholder="@DateTime.Now" id="startTime">
                        </div>
                    </div>
                </div>

                <div class="field" id="divEndDate">
                    <label for="BookingEndTime"><i class="calendar check icon"></i>結束時間</label>
                    @*<input type="text" name="BookingEndTime" id="BookingEndTime">*@
                    <div class="ui calendar" id="example14" data-position="fixed">
                        <div class="ui input left icon">
                            @*<i class="calendar icon"></i>*@
                            <input type="text" placeholder="@DateTime.Now" id="endTime">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="ui dividing header">參與人員</h4>
            <div class="field">
                <label>E-Mail To</label>
                <div class="ui fluid multiple search selection dropdown">
                    <input type="hidden" name="MeetingAttentee" id="attendee">
                    <i class="dropdown icon"></i>
                    <div class="default text">Saved Contacts</div>
                    <div class="menu">
                        <div class="item" data-value="jenny" data-text="Jenny">
                            <img class="ui mini avatar image" src="~/images/20210318041939IU001.jpg">
                            Jenny Hess
                        </div>
                        <div class="item" data-value="elliot" data-text="Elliot">
                            <img class="ui mini avatar image" src="~/images/20210316073259鍋爐爺爺.jpg">
                            Elliot Fu
                        </div>
                        <div class="item" data-value="stevie" data-text="Stevie">
                            <img class="ui mini avatar image" src="~/images/20210324052859images.jpg">
                            Stevie Feliciano
                        </div>
                        <div class="item" data-value="christian" data-text="Christian">
                            <img class="ui mini avatar image" src="~/images/20210318042333IU002.jpg">
                            Christian
                        </div>
                        <div class="item" data-value="matt" data-text="Matt">
                            <img class="ui mini avatar image" src="~/images/20210324052859images.jpg">
                            Matt
                        </div>
                        <div class="item" data-value="justen" data-text="Justen">
                            <img class="ui mini avatar image" src="~/images/20210318030645白龍.jpeg">
                            Justen Kitsune
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="Description">Description</label>
                <textarea rows="2" id="Description"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui toggle primary basic button" id="txtSend">
            <i class="save icon"></i>Send
        </button>
        <button class="ui toggle negative basic button" id="txtCancel">Cancel</button>
    </div>
</div>
@*End +Add modal*@

@*modal start Edit*@
<div class="ui tiny modal" id="dataEdit">
    <h1 class="ui header  modelHeader">Modify Booking data</h1>
    <div class="content">
        <div class="editbody">
            <h3 class="ui header">Resource Name: <span id="editRoom"></span></h3>
            <h3 class="ui header">開始時間:<span id="editStart"></span></h3>
            <h3 class="ui header">結束時間:<span id="editEnd"></span></h3>
        </div>
    </div>
    <div class="actions">
        <div class="ui toggle olive basic button" id="btnEdit">
            <i class="edit icon"></i>Edit
        </div>
        <div class="ui toggle negative basic button" id="btnDelete">Delete</div>
    </div>
</div>
@*checkbox*@

<div class="ui celled grid">
    <div class="row">
        <div class="three wide column">
            <div class="ui placeholder segment">
                <div class="field">
                    <div class="ui icon header">
                        @*<input type="text" placeholder="搜尋...">*@
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="inline">
                    <div class="field">
                        <div class="ui checked checkbox" >
                            <input type="checkbox" checked="" id="searchAll">
                            <label for="searchAll">CheckAll</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="check601">
                            <label for="check601">601會議室-4人</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="check602">
                            <label for="check602">602會議室-6人</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="check603">
                            <label for="check603">603會議室-8人</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="check604">
                            <label for="check604">604會議室-10人</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="check605">
                            <label for="check605">605會議室-10人</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="check606">
                            <label for="check606">訓練教室-30人</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="car01">
                            <label for="car01">公務車-4人</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="car02">
                            <label for="car02">公務車-6人箱型</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="thirteen wide column">
            <div id='calendar'></div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section script{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>


    <script>

        $(document).ready(() => {

            //var userId = document.cookie.split('id=')[1].split('&')[0];
            //var userName = decodeURI(document.cookie.split('Name=')[1].split('&')[0]);

            var userId = $('#emId').attr('value', document.cookie.split('id=')[1].split('&')[0]);
            var userName = $('#emNname').attr('value', decodeURI(document.cookie.split('Name=')[1].split('&')[0]));


 
            var _this = this;
            var events = [];
            var selectedEvent = null;
            EventRefresh();

            function EventRefresh() {
                events = [];
                // getbook remark//
                $.ajax({
                    type: "GET",
                    url: "/MeetingRoom/GetBooking",
                    success: function (data) {
                        //console.log(data.BookingId)
                        //alert(data.BookingId)

                        $.each(data, function (i, v) {

                            /*console.log(i.BookingId)*/
                            /*  alert(v.BookingId)*/

                            events.push({
                                eventID: v.BookingId,
                                title: v.MeetingRoomName,
                                descrtiption: v.MeetingRemark,
                                start: moment(v.BookingStartTime),
                                end: v.BookingEndTime != null ? moment(v.BookingEndTime) : null,
                                allDay: v.IsAllDay,
                                subject: v.MeetingSubject,
                                bookingEmID: v.EmployeeID,
                                bookingEmName: v.中文姓名,
                                attendee: v.MeetingAttentee,
                                status: v.Status,
                            });
                        })
                        GenerateCal(events);
                    },

                    error: function (error) {
                        alert("Reading failed")
                    },
                })
                // getbook remark//
            }

            function GenerateCal(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    themeSystem: 'bootstrap4',
                    defaultDate: new Date(),
                    slotDuration: '00:30:00',
                    snapDuration: '00:30:00',
                    slotMinTime: '08:30:00',
                    slotMaxTime: '20:00:00',
                    nowIndicator: true,
                    /*locale: 'zh-tw',*/
                    timeFormat: 'h:mmA',
                    editable: true,
                    eventDrop: function (event) {
                        alert(event)
                        //var data = {
                        //    eventID: event.BookingId,
                        //    title: event.MeetingRoomName,
                        //    start: event.BookingStarTime.format('YYYY-MM-DD h:mmA'),
                        //    end: event.BookingEnd != null ? event.BookingEndTime.format('YYYY-MM-DD h:mmA') : null,
                        //    subject: event.MeetingSubject,       
                        //}
                    },
                    selectable: true,
                    selectHelper: true,
                    select: function (start, end) {
                        //selectedEvent = {
                        //    eventID: 0,
                        //    title: '',
                        //    descrtiption: '',
                        //    start: start,
                        //    end: end,
                        //    allDay: false,
                        ///*   color:'',*/
                        //    MeetingRoomName:'',
                        //    MeetingRemark: '',
                        //    BookingStartTime: start,
                        //    BookingEndTime: end,
                        //    MeetingSubject: '',
                        //    MeetingAttentee: '',
                        //    EmployeeID: null,
                        //    中文姓名:'',
                    
                     /*   };*/
                        oopenAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    eventLimit: true,
                    views: {
                        month: {
                            eventLimit: 3 // adjust to 6 only for timeGridWeek/timeGridDay
                        }
                    },
                    customButtons: {
                        Add: {
                            text: '+ Add',
                            click: function () {
                                /*    alert('clicked the custom button!');*/
                                /*  $('#emNname').attr(value, userName).append(,this.text);*/
                                //$('#emId').attr(value, userId).append(this.text);
                                $('#Calendar-modal').modal('toggle');
                            }
                        }

                    }, //customBtnEnd
                    header: {
                        left: 'Add, prev,next, today,',
                        right: 'month, agendaWeek, agendaDay, listWeek',
                        center: 'title'
                    },
                    events: events,

                    //    [
                    //    {
                    //        title: 'All Day Event',
                    //        start: '2021-03-24',
                    //    },
                    //    {
                    //        title: 'Long Event',
                    //        start: '2021-03-25',
                    //        end: '2021-03-26',
                    //    },
                    //    {
                    //        title: 'Room601',
                    //        start: '2021-03-25',
                    //        end: '2021-03-25',
                    //    },

                    //],
                    eventClick: function (calEvent, jsEvent, view) {

                        selectedEvent = calEvent;
                        $('#editRoom').text(calEvent.title);
                        $('#editStart').text(calEvent.start.format("YYYY-MM-DD h:mmA"));
                        $('#editEnd').text(calEvent.end.format("YYYY-MM-DD h:mmA"));
                        /* alert(calEvent.start.format("YYYY-MM-DD h:mmA"))*/

                        /*$('#Calendar-modal .modelHeader').text(calEvent.title);*/
                        //var htmldiv = $('<div>');
                        //htmldiv.append($('<p>').html('<b>開始時間:</b>' + calEvent.start.format("MM-DD-YYYY h:mmA")));
                        //if (calEvent.end != null) {
                        //    htmldiv.append($('<p>').html('<b>結束時間:</b>' + calEvent.end.format("MM-DD-YYYY h:mmA")));
                        //}
                        //$('#dataEdit').empty().html(htmldiv);
                        //    alert('Event: ' + calEvent.title);
                        //    alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                        //alert('View: ' + view.name);
                        //alert('start: ' + calEvent.start.format("MM-DD-YYYY h:mmA"));
                        //alert('end: ' + calEvent.end.format("MM-DD-YYYY h:mmA"));

                        /* change the border color just for fun*/
                        $(this).css('border-color', 'red');

                        $('#dataEdit').modal('toggle');
                    },
                });
            }

   /*         $('#example13 #example14').moment().format('YYYY/MM/DD HH:mm A');*/

            $('#example13').calendar({
                on: 'hover',              
                monthFirst: false,
                formatter: {
                    Date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        return year + '/' + month + '/' + day;
                    }
                },
                //popupOptions: {
                //    position: 'bottom left', lastResort: 'bottom left', prefer: 'opposite', hideOnScroll: false
                //},
                today: true,
            });

            $('#example14').calendar({
                on: 'hover',
                monthFirst: false,
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        return year + '/' + month + '/' + day;
                    }
                }
            });


            //function ReloadModal() {
            //    /*var bookingId = event.id;*/
            //    alert(_this)
            //    $.ajax({
            //        url: "/MeetingRoom/ReloadModal",
            //        type: "POST",
            //        data: { "eventID": selectedEvent.eventID },
            //        success: function (data) {
            //            alert(data.emId)
            //        },
            //        error: function () { alert('failed'); },
            //    })
            //}

            $('#btnEdit').click(function () {
                oopenAddEditForm()
                /*   ReloadModal();*/
                $('#dataEdit').modal('hide');
                $('#Calendar-modal').modal('show');
            })

            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    /* alert(selectedEvent.eventID)*/

                    $.ajax({
                        url: "/MeetingRoom/DeleteEvent",
                        data: { 'eventID': selectedEvent.eventID },
                        method: "POST",
                        success: function (data) {
                            if (data.status) {
                                //refresh the calendar
                                EventRefresh();
                                $('#dataEdit').modal('hide'); //toDo F12 calendarList

                            }
                        },
                        error: function () { alert('failed'); },
                    })
                }
            })

            $('#chboxisAllday').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                } else {
                    $('#divEndDate').show();
                }
            });

            function oopenAddEditForm() {
                if (selectedEvent != null) {
               /*     alert(selectedEvent.start.format("YYYY-MM-DD h:mmA"))*/
                    $('#MeetingRoomName').val(selectedEvent.title);
                    $('#startTime').val(selectedEvent.start.format("YYYY-MM-DD h:mmA"));
                    $('#endTime').val(selectedEvent.end != null ? selectedEvent.end.format("YYYY-MM-DD h:mmA") : '');

                    $('#MeetingSubject').val(selectedEvent.subject);

                    $('#chboxisAllday').prop("checked", selectedEvent.allDay || false);
                    $('#chboxisAllday').change();

                    $('#Description').val(selectedEvent.descrtiption);
                    $('#attendee').val(selectedEvent.attendee);
                    //            id="emNname"
                    //            id="emId"
                    //            id="MeetingRoomName"
                    //            id="MeetingSubject"
                    //            id="startTime"
                    //            id="endTime"
                    //            id="attendee"
                    //            id="Description"
                    //eventID: v.BookingId,
                    //    title: v.MeetingRoomName,
                    //        descrtiption: v.MeetingRemark,
                    //            start: moment(v.BookingStartTime),
                    //                end: v.BookingEndTime != null ? moment(v.BookingEndTime) : null,
                    //                    allDay: v.IsAllDay,
                    //                        subject: v.MeetingSubject,
                    //                            bookingEmID: v.EmployeeID,
                    //                                bookingEmName: v.中文姓名,
                    //                                    attendee: v.MeetingAttentee,
                    //                                        status: v.Status,
                }
                $('#dataEdit').modal('hide');
                $('#Calendar-modal').modal();
            }
            $('#txtSend').click(function () {
                if ($('#MeetingRoomName').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#startTime').val().trim() == "") {
                    alert('Start Time required');
                    return;
                }
                if ($('#chboxisAllday').is(':checked') == false && $('#startTime').val().trim() == "") {
                    alert('End Time required');
                    return;
                } else {
                    var startDate = moment($('#startTime').val(), "YYYY-MM-DD h:mmA").toDate();
                    var endDate = moment($('#endTime').val(), "YYYY-MM-DD h:mmA").toDate();
                    if (startDate > endDate) {
                        alert('開始時間晚於結束時間, 請重新預訂');
                        return;
                    }
                }
                var data = {
                    MeetingRoomName: $('#MeetingRoomName').val(),
                    MeetingRemark: $('#MeetingRemark').val(),
                    BookingStartTime: $('#startTime').val().trim(),
                    BookingEndTime: $('#chboxisAllday').is(':checked') ? null : $('#endTime').val().trim(),
                    MeetingSubject: $('#MeetingSubject').val().trim(),
                    MeetingAttentee:$('#attendee').val().trim(),
                    EmployeeID: $('#emId').val(),
                    中文姓名: $('#emNname').val(),
                    // status: v.Status,
                    //eventID: v.BookingId,
                }
                SaveEvent(data);
            })

            function SaveEvent(data) {
                $.ajax({
                    url: "/MeetingRoom/SaveEvent",
                    data: data,
                    method: "POST",
                    success: function (data) {
                        if (data.status) {
                            //refresh the calendar
                            
                            $('#Calendar-modal').modal('hide'); //toDo F12 calendarList
                            swal("編輯成功！", "更新會議資訊", "success");
                            EventRefresh()
                        }
                    },
                    error: function () { swal("編輯失敗！", "請重新更新會議資訊", "failed") },
                })
            }
            $('#searchAll').change(":checked", )
        });

    </script>
}
