
<form>
    <div class="form-group">
        name:
        <input type="text" class="form-control name">
    </div>
    <div class="form-group">
        建立ID:
        <input type="text" class="form-control createId">
    </div>
    <div class="form-group">
        預算:
        <input type="text" class="form-control budget">
    </div>
</form>
<button class="btn btn-primary addPj總表 addCreatePj">Submit</button>


@section script{
    <script>





        $(".addPj總表").click(function () {
            var rad = new Date();

            //console.log($(".name").val());
            //$.ajax({
            //    url: "/pjTest/addPj總表",
            //    method: "post",
            //    data: {
            //        "pjName": $(".name").val(),
            //        "pjCreateId": rad.toString(),
            //    },
            //    success: function () {
            //        console.log("ok");
            //    }
            //});
            //$.ajax({
            //    url: "/pjTest/addPj總表",
            //    method: "post",
            //    data: {
            //        "pjCreateId": rad.toString(),
            //        "pjBudget": $(".budget").val(),
            //    },
            //    success: function () { }
            //});
        });


        $(".addCreatePj").click(function () {
            var rad = new Date();
                    $.ajax({
                        url: "/pjTest/createPj",
                        method: "post",
                        data: {
                            "pjCreateId": rad.toString(),
                            "pjBudget": $(".budget").val(),
                        },
                        success: function () {
                            console.log($(".name").val());
                            $.ajax({
                                url: "/pjTest/addPj總表",
                                method: "post",
                                data: {
                                    "pjName": $(".name").val(),
                                    "pjCreateId": rad.toString(),
                                },
                                success: function (data) {
                                    alert("ok");                  
                                }
                            });

                        }
                    });
            });

    </script>
}

