<table class="table">
    <thead>
        <tr class="titleAppend">
        </tr>
    </thead>
    <tbody>
        <tr class="contentAppend">
        </tr>
    </tbody>
</table>

@section script{
    <script>
        $.ajax({
            url: "/pjTest/getData",
            method: "get",
            success: function (data) {
                $(".titleAppend").html(`
                       <tr>
                                <th scope="col">name</th>
                                <th scope="col">預算</th>                            
                       </tr>
                 `);

                $(data).each(function (index, item) {
                    $(".contentAppend").append(`
                       <tr>
                                <td>${item.name}</td>
                                <td>${item.budget}</td>                                                                                    
                               
                         </tr>
                  `);
                })
            }
        })

    </script>

}