@{
    ViewBag.Title = "Askfor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input, select {
        max-width: 100vw;
    }

    .button {
        box-shadow: 2px 5px 7px silver;
    }
</style>
<div class="head">
    <h2 class="h2共用">請假(新增)</h2>
    <form  name="form2" class="form1">
        <div class="d-flex flex-wrap justify-content-center pt-3">
            @*d-flex + flex-wrap or row*@
            @*<div>
                <label>申請表編號</label>
                <input type="text" id="申請表編號" class="w-100" name="申請表編號" hidden/>
            </div>*@
            <div class="mb-4 col-12 col-md-4">
                <label>員工編號:</label>
                <label></label>
                <input type="text" id="EmployeeID" class="w-100" name="EmployeeID" />
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>員工姓名:</label>
                <label></label>
                <input type="text" id="中文姓名" class="w-100" name="中文姓名" />
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>職稱:</label>
                <label></label>
                <input type="text" id="jobtitle" class="w-100" name="職稱" />
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="mb-4 col-12 col-md-4">
                <label>信箱:</label>
                <label></label>
                <input type="text" id="Email" class="w-100" name="信箱" />
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>部門:</label>
                <label></label>
                <input type="text" id="department" class="w-100" name="部門" />
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>請假班別:</label>
                <label></label>
                <input type="text" id="請假班別" class="w-100" name="請假班別" required/>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="mb-4 col-12 col-md-4">
                <label>開始日期:</label>
                <input type="datetime-local" id="startday" class="w-100" name="開始日期" required>
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>結束日期:</label>
                <input type="datetime-local" id="endday" class="w-100" name="結束日期" required>
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>申請日期:</label>
                <input type="datetime-local" id="applicationday" class="w-100" name="申請日期" required>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="mb-4 col-12 col-md-4">
                <label>請假時數:</label>
                <label></label>
                <input type="text" id="askfortime" class="w-100 請假時數" name="請假時數">
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>代理人:</label>
                <input type="text" id="agent" class="w-100" name="代理人" required>
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>審核狀態:</label>
                <input type="text" id="approvalStatus" class="w-100" name="審核狀態" required/>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center align-items-center">
            <div class="mb-4 col-12 col-md-4">
                <label>請假類別:</label>
                <select id="select1" class="w-100" name="假別ID" required>
                    <option value="0">請選擇</option>
                    <option value="1">事假</option>
                    <option value="2">病假</option>
                    <option value="3">生理假</option>
                    <option value="4">喪假</option>
                    <option value="5">婚假</option>
                    <option value="6">公假</option>
                    <option value="7">產假</option>
                    <option value="8">陪產假</option>
                    <option value="9">防疫隔離假</option>
                    <option value="10">特休</option>
                    <option value="11">加班補修</option>
                </select>
            </div>
            <div class="col-12 col-md-4">
                <input type="file"  name="圖片" id="upload" multiple/>
            </div>
            <div class="mb-4 col-12 col-md-4">
                <label>已用可用:</label>
                <input type="text" id="已用可用" class="w-100" name="已用可用" required />
            </div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <a class="btn btn-primary" id="button送出" onclick="AddEmp()">送出</a>
            <a class="btn btn-secondary" id="buttonDemo" onclick="Demo()">DEMO</a>
        </div>
    </form>

</div>
@section script{
    <script>

        let start;
        let end;
        //=============================新增=======================================


        $("#endday, #startday").blur(function () {
            if ($("#startday").val() != '' && $("#endday").val() != '') {
                start = new Date($("#startday").val());
                end = new Date($("#endday").val());
                var offset = new Date($("#endday").val()).getTime() - new Date($("#startday").val()).getTime();
                var swag = Math.floor(Math.abs(offset / 1000 / 60 / 60 / 24 - 1));
                console.log(swag);
                let x = Math.floor(swag);
                let 開始小時數 = 17 - start.getHours();
                let 結束小時數 = end.getHours() - 9;
                if (x + 1 < 0) {
                    window.alert("請輸入正確日期");
                }
                else if (start.getDate() === end.getDate()) {
                    $(".請假時數").val(`${end.getHours() - start.getHours()} `)
                }
                else {
                    $(".請假時數").val(`${開始小時數 + swag * 9 + 結束小時數} `)
                }
            }
        });




        function AddEmp() {
            console.log($(document.form2).find('[name]')[0].value);
            var formData = new FormData(document.form2);
            formData.append('upPhoto', $("#upload").get(0).files[0]);
            $.ajax({
                url: "/DDDDD/AskForAjax1",
                type: "POST",
                contentType: false,
                processData: false,
                data: formData,                                                    
                    success: function (result) {
                        if (result == "ok") {
                            setTimeout(function () {
                                //window.location.href = "/DDDDD/AskforList";
                            }, 2000);
                            swal("成功", "新增成功", "success");
                        }
                    }
                })
        }


        function Demo() {
            $("#EmployeeID").val("1"),
                $("#中文姓名").val("胡冠安"),
                $("#jobtitle").val("員工"),
                $("#Email").val("abc@gmail.com"),
                $("#department").val("資訊部"),
                $("#請假班別").val("早班"),
                $("#startday").val("2021-03-23T09:00:00"),
                $("#endday").val("2021-03-23T17:00:00"),
                $("#applicationday").val("2021-03-23T09:00:00"),
                $("#agent").val("Yuan"),
                $("#askfortime").val("8"),
                $("#approvalStatus").val("未審核"),
                $("#select1").val(1),
                $("#已用可用").val("10") 
                };
        
    </script>
}
