@{
    ViewBag.Title = "BusinessTripList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="h2共用">出差(總表)</h2>


<a class="btn btn-primary mb-3" href="/DDDDD/BusinessTrip">新增出差單</a>

<table class="table-hover w-100 table table-striped text-nowrap">
    <thead id="head">
    </thead>
    <tbody id="BusinessTripListTbody">
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="BusinessTrip" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content 加班">
            <div class="modal-body">
                @*Start*@
                <div class="head">
                    <form>
                        <h2 class="h2共用">出差單</h2>
                        <div>
                            <div class="mb-4 員工編號">
                                <label>員工編號:</label><br />
                                <input type="text" class="w-75" id="EmployeeID">
                            </div>
                            <div class="mb-4 申請人">
                                <label>申請人:</label><br />
                                <input type="text" class="w-75" id="中文姓名">
                            </div>
                            <div class="mb-4 部門">
                                <label>部&emsp;&emsp;門:</label><br />
                                <input type="text" class="w-75 " id="部門">
                            </div>
                            <div class="mb-4">
                                <label>出差類型:</label><br />
                                <select id="出差類型" class="w-75">
                                    <option value="請選擇">請選擇</option>
                                    <option value="國內">國內</option>
                                    <option value="國外">國外</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="mb-4 出差地點">
                                <label>出差地點:</label><br />
                                <input type="text" class="w-75" id="出差地點">
                            </div>
                            <div class="mb-4 test 開始日期">
                                <label>開始日期:</label><br />
                                <input type="datetime-local" id="開始日期" class="w-75">
                            </div>
                            <div class="mb-4 test1 結束日期">
                                <label>結束日期:</label><br />
                                <input type="datetime-local" id="結束日期" class="w-75">
                            </div>
                        </div>
                        <div>
                            <div class="mb-4">
                                <label>交通需求:</label><br />
                                <select id="交通需求" class="w-75">
                                    <option value="請選擇">請選擇</option>
                                    <option value="火車票">火車票</option>
                                    <option value="高鐵票">高鐵票</option>
                                    <option value="飛機票">飛機票</option>
                                    <option value="自行安排">自行安排</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label>住宿需求:</label><br />
                                <select id="住宿需求" class="w-75">
                                    <option value="請選擇">請選擇</option>
                                    <option value="國內住宿">國內住宿</option>
                                    <option value="國外住宿">國外住宿</option>
                                    <option value="自行安排">自行安排</option>
                                </select>
                            </div>
                            <div class="mb-4 預支費用">
                                <label>預支費用:</label><br />
                                <input type="number" class="w-75" id="預支費用" min="1000">
                            </div>
                            <div class="mb-3">
                                <label>備註:</label><br />
                                <textarea id="備註" class="w-75"></textarea>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <a class="btn btn-primary" onclick="UpdateBusiness()">送出</a>
                        </div>
                    </form>
                </div> @*End*@
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        GetBusinessTripList();

        //======================================= 總表顯示 =======================================

        function GetBusinessTripList() {
            $.ajax({
                url: "/DDDDD/BusinessTripListAjax",
                type: "GET",
                success: function (mylist) {
                    $('#head').html(
                        `<tr>
                                    <th>員工編號</th>
                                    <th>申請人</th>
                                    <th>部門</th>
                                    <th>開始日期</th>
                                    <th>結束日期</th>
                                    <th>詳細</th>
                                    <th>刪除</th>
                                </tr>`
                    )
                    $(mylist).each(function (index, item) {
                        var testtime = parseInt(item.開始日期.replace(/\D/igm, ""));
                        var testtime1 = new Date(testtime);
                        var 結束日期 = parseInt(item.結束日期.replace(/\D/igm, ""));
                        var testtime2 = new Date(結束日期);

                        if (testtime1.getHours() < 10) {
                            h2 = "0" + testtime1.getHours();
                        } else {
                            h2 = testtime1.getHours();
                        }
                        if (testtime1.getMinutes() < 10) {
                            var a2 = "0" + testtime1.getMinutes()
                        } else {
                            a2 = testtime1.getMinutes();
                        }


                        if (testtime2.getHours() < 10) {
                            h3 = "0" + testtime2.getHours();
                        } else {
                            h3 = testtime2.getHours();
                        }
                        if (testtime2.getMinutes() < 10) {
                            var a3 = "0" + testtime2.getMinutes()
                        } else {
                            a3 = testtime2.getMinutes();
                        }
                        $('#BusinessTripListTbody').append(
                            `<tr>
                                        <td>${item.EmployeeID}</td>
                                        <td>${item.中文姓名}</td>
                                        <td>${item.部門}</td>
                                        <td>${testtime1.getFullYear() + "/" + (testtime1.getMonth() + 1) + "/" + testtime1.getDate() + " " + h2 + ":" + a2}</td>
                                        <td>${testtime2.getFullYear() + "/" + (testtime2.getMonth() + 1) + "/" + testtime2.getDate() + " " + h3 + ":" + a3}</td>
                                        <td><a class="btn btn-outline-primary button btnDetail" data-toggle="modal" data-id ="${item.出差單編號}" data-target="#BusinessTrip" onclick="GetUpdataBusiness()"><span>詳細</span></a></td>
                                        <td><a class="btn btn-outline-danger button"  onclick="businessdelete()" data-id="${item.出差單編號}"><span>刪除</span></a></td>
                                    </tr>`
                        )
                    }
                    )

                }
            })
        }


        //======================================= 刪除 =======================================

        function businessdelete() {
            console.log(123);
            console.log($(event.currentTarget).data("id"));
            $.ajax({
                url: "/DDDDD/DeleteBusinessTrip",
                data: { "id": $(event.currentTarget).data("id") },
                success: function (result) {
                    swal({
                        title: "刪除?",
                        text: "確定要刪除嗎?",
                        icon: 'warning',
                        buttons: true,
                        dangerMode: true,
                    }).then((confirm) => {
                        if (confirm) {
                            swal('刪除', '刪除成功！...', 'success');
                            ReFresh();
                        } else {
                            swal('刪除', '刪除失敗!...', 'error');
                        }
                    })
                }
            })
        }

        //======================================= 修改 =======================================

        var SwagID;
        function UpdateBusiness() {
            console.log(event.currentTarget);
            $.ajax({
                url: "/DDDDD/UpdateBusinessTripAjax",
                type: "POST",
                data: {
                    "出差單編號": SwagID,
                    "EmployeeID": $("#EmployeeID").val(),
                    "中文姓名": $("#中文姓名").val(),
                    "部門": $("#部門").val(),
                    "出差類型": $("#出差類型").val(),
                    "出差地點": $("#出差地點").val(),
                    "開始日期": $("#開始日期").val(),
                    "結束日期": $("#結束日期").val(),
                    "交通需求": $("#交通需求").val(),
                    "住宿需求": $("#住宿需求").val(),
                    "預支費用": $("#預支費用").val(),
                    "備註": $("#備註").val()
                },
                success: function (result) {
                    if (result != 0) {
                        $("#BusinessTrip").modal('hide');
                        swal("成功", "修改成功", "success");
                        ReFresh();
                    }

                }
            })
        }


        
        function GetUpdataBusiness() {
            SwagID = $(event.currentTarget).data("id");
            console.log(132);
            $.ajax({
                url: "/DDDDD/GetUpdateBusinessTripAjax",
                type: "GET",
                data: { "id": $(event.currentTarget).data("id") },
                success: function (getdata) {
                    console.log($("#EmployeeID").val(getdata.EmployeeID));
                    var 開始日期 = parseInt(getdata.開始日期.replace(/\D/igm, ""));
                    var testtime1 = new Date(開始日期);
                    var 結束日期 = parseInt(getdata.結束日期.replace(/\D/igm, ""));
                    var testtime2 = new Date(結束日期);
                    if ((testtime1.getMonth() + 1) < 10) //月
                    {
                        var a = "0" + (testtime1.getMonth() + 1);  //why var
                    }
                    else {
                        a = (testtime1.getMonth() + 1);
                    }
                    if ((testtime2.getMonth() + 1) < 10) {
                        var gg2 = "0" + (testtime2.getMonth() + 1);
                    }
                    else {
                        gg2 = (testtime2.getMonth() + 1);
                    }
                    if (testtime1.getDate() < 10) //日
                    {
                        var rr1 = "0" + (testtime1.getDate());
                    }
                    else {
                        rr1 = testtime1.getDate();
                    }
                    if (testtime2.getDate() < 10) {
                        var aa2 = "0" + (testtime2.getDate());
                    }
                    else {
                        aa2 = testtime2.getDate();
                    }
                    if (testtime1.getHours() < 10) //時
                    {
                        var cc1 = "0" + testtime1.getHours();
                    }
                    else {
                        cc1 = testtime1.getHours();
                    }
                    if (testtime2.getHours() < 10) {
                        var dd2 = "0" + testtime2.getHours();
                    }
                    else {
                        dd2 = testtime2.getHours();
                    }
                    if (testtime1.getMinutes() < 10)  //分
                    {
                        var ff1 = "0" + testtime1.getMinutes();
                    }
                    else {
                        ff1 = testtime1.getMinutes();
                    }
                    if (testtime1.getMinutes() < 10) {
                        var mm2 = "0" + testtime1.getMinutes();
                    }
                    else {
                        mm2 = testtime1.getMinutes();
                    }
                    $("#出差單編號").val(getdata.出差單編號);
                    $("#EmployeeID").val(getdata.EmployeeID);
                    $("#中文姓名").val(getdata.中文姓名);
                    $("#部門").val(getdata.部門);
                    $("#出差類型").val(getdata.出差類型);
                    $("#出差地點").val(getdata.出差地點);
                    $("#開始日期").val(testtime1.getFullYear() + "-" + a + "-" + rr1
                        + "T" + cc1 + ":" + ff1 + ":00");
                    $("#結束日期").val(testtime2.getFullYear() + "-" + gg2 + "-" + aa2
                        + "T" + dd2 + ":" + mm2 + ":00");
                    $("#交通需求").val(getdata.交通需求);
                    $("#住宿需求").val(getdata.住宿需求);
                    $("#預支費用").val(getdata.預支費用);
                    $("#備註").val(getdata.備註);
                }
            })
        }

        //======================================= 刷新 =======================================
        function ReFresh() {
            $.ajax({
                url: "/DDDDD/BusinessTripListAjax",
                type: "GET",
                success: function (mylist) {
                    $('#head').html(
                        `<tr>
                                    <th>員工編號</th>
                                    <th>申請人</th>
                                    <th>部門</th>
                                    <th>開始日期</th>
                                    <th>結束日期</th>
                                    <th>詳細</th>
                                    <th>刪除</th>
                                </tr>`
                    )
                    var a = " ";
                    $(mylist).each(function (index, item) {
                        var testtime = parseInt(item.開始日期.replace(/\D/igm, ""));
                        var testtime1 = new Date(testtime);
                        var 結束日期 = parseInt(item.結束日期.replace(/\D/igm, ""));
                        var testtime2 = new Date(結束日期);

                        if (testtime1.getHours() < 10) {
                            h2 = "0" + testtime1.getHours();
                        } else {
                            h2 = testtime1.getHours();
                        }
                        if (testtime1.getMinutes() < 10) {
                            var a2 = "0" + testtime1.getMinutes()
                        } else {
                            a2 = testtime1.getMinutes();
                        }


                        if (testtime2.getHours() < 10) {
                            h3 = "0" + testtime2.getHours();
                        } else {
                            h3 = testtime2.getHours();
                        }
                        if (testtime2.getMinutes() < 10) {
                            var a3 = "0" + testtime2.getMinutes()
                        } else {
                            a3 = testtime2.getMinutes();
                        }                        
                            a+=`<tr>
                                        <td>${item.EmployeeID}</td>
                                        <td>${item.中文姓名}</td>
                                        <td>${item.部門}</td>
                                        <td>${testtime1.getFullYear() + "/" + (testtime1.getMonth() + 1) + "/" + testtime1.getDate() + " " + h2 + ":" + a2}</td>
                                        <td>${testtime2.getFullYear() + "/" + (testtime2.getMonth() + 1) + "/" + testtime2.getDate() + " " + h3 + ":" + a3}</td>
                                        <td><a class="btn btn-outline-primary button btnDetail" data-toggle="modal" data-id ="${item.出差單編號}" data-target="#BusinessTrip" onclick="GetUpdataBusiness()"><span>詳細</span></a></td>
                                        <td><a class="btn btn-outline-danger button"  onclick="businessdelete()" data-id="${item.出差單編號}"><span>刪除</span></a></td>
                                    </tr>`
                             $("#BusinessTripListTbody").html(a);
                        
                    }
                    )

                }
            })
        }
    </script>
}