@{
    ViewBag.Title = "OverTimeOverTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
/*    textarea {
        resize: none;
    }*/

/*    .head {
        margin-top: 50px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 25px;
        background-color: white;
        box-shadow: 0 1px 7px;
    }*/

/*    .h2共用 {
        text-align: center;
        font-weight: bold;
                border-bottom: 1px solid silver;
        padding-bottom: 20px;
    }*/

/*    input, textarea {
        max-width: 500px;
    }*/

    .加班送出 {
        box-shadow: 2px 5px 10px silver;
    }

    .加班單內容左{
        padding-left:100px;
    }
</style>



<div class="head">
    <form class="leftbody">
        <h2 class="h2共用">加班單</h2>
        <div class="d-flex justify-content-center flex-wrap">
                @*<div class="mb-4 col-12 col-md-4">
                <label>加班表編號:</label>
                <input type="text" id="加班表編號" class="w-100">
            </div>*@
            <div class="col-md-6 加班單內容左">
                <div class="mb-4 員工編號">
                    <label>員工編號:</label><br />
                    <input type="text" class="w-75" id="EmployeeID">
                </div>
                <div class="mb-4 中文姓名">
                    <label>中文姓名:</label><br />
                    <input type="text" class="w-75" id="中文姓名">
                </div>
                <div class="mb-4 部門">
                    <label>部&emsp;&emsp;門:</label><br />
                    <input type="text" class="w-75 " id="department">
                </div>
                <div class="mb-4 test 開始日期">
                    <label>開始日期:</label><br />
                    <input type="datetime-local" id="startday" class="w-75">
                </div>
                <div class="mb-4 test1 結束日期">
                    <label>結束日期:</label><br />
                    <input type="datetime-local" id="endday" class="w-75">
                </div>
            </div>



           
            <div class="bodyright col-md-6 加班單內容左">
                <div class="mb-3">
                    <label>事由說明:</label><br />
                    <textarea id="事由說明" class="w-75" rows="8" name="TxtMemo" cols="18"></textarea>
                </div>
                <div class="mb-3">
                    <label>加班類別:</label>
                    <div class="mr-3 加班類別" id="加班ID">
                        <input type="radio" name="加班類別" value="1" />&ensp;延長加班
                        <input type="radio" name="加班類別" value="2" class="ml-3"/>&ensp;例假日加班<br />
                        <input type="radio" name="加班類別" value="3" />&ensp;休息日加班
                        <input type="radio" name="加班類別" value="4" />&ensp;國定假日加班
                    </div>
                </div>
                <div class="mb-4">
                    <div class="mb-4 加班時數">
                        <label>加班時數:</label><br />
                        <input type="text" class="w-75" id="加班時數" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <a class="btn btn-primary 加班送出" onclick="AddOverTime()">送出</a>
        </div>
    </form>
    </div>



    @section script{
        <script>
            $("#startday").blur(function () {
                if ($("#startday").val() != '' && $("#endday").val() != '') {
                    var hour = new Date($("#endday").val()).getHours() - new Date($("#startday").val()).getHours();
                    var day = new Date($("#endday").val()).getDate() - new Date($("#startday").val()).getDate();
                    $("#加班時數").val(`${(day * 24) + hour} `);
                }
            });

            $("#endday").blur(function () {
                var hour = new Date($("#endday").val()).getHours() - new Date($("#startday").val()).getHours();
                var day = new Date($("#endday").val()).getDate() - new Date($("#startday").val()).getDate();
                let x = (day * 24) + hour;
                //let start = $("#startday").val();
                //let end = $("#endday").val();
                if (x < 0) {
                    window.alert("請輸入正確日期");
                }
                else {
                    $("#加班時數").val(`${(day * 24) + hour} `)
                }
            });


            function AddOverTime() {
                console.log(123);
                console.log($("#加班ID").children(":checked").val());
                $.ajax({
                    url: "/DDDDD/OverTimeAjax",
                    type: "POST",
                    data: {
                        "EmployeeID": $("#EmployeeID").val(),
                        "中文姓名": $("#中文姓名").val(),
                        "部門": $("#department").val(),
                        "開始日期": $("#startday").val(),
                        "結束日期": $("#endday").val(),
                        "請假時數": $("#askfortime").val(),
                        "加班時數": $("#加班時數").val(),
                        "加班ID": $("#加班ID").children(":checked").val(),
                        "事由說明": $("#事由說明").val()
                    },
                    success: function (result) {
                        if (result != null) {
                            setTimeout(function () {
                                window.location.href = "/DDDDD/OverTimeList";
                            }, 2000);
                            swal("成功", "新增成功", "success");
                        }
                    }
                })
            }


        </script>
    }
