
@{
    ViewBag.Title = "PartialLayoutBodyLeft";
}

<style>

    .狀態欄 {
        width: 300px;
    }

    .Menu {
        text-align: center;
        margin-top: 10px;
        font-size: 25px;
    }

    .按鈕圖示 {
        margin-left: 0px;
        padding-right: 10px;
    }


    .按鈕圖示1 {
        margin-left: -40px;
        padding-right: 40px;
    }

    .按鈕圖示2 {
        margin-left: -53px;
        padding-right: 33px;
    }

    .使用者外框 {
        margin-top: 0;
        padding-top: 0;
        background-color: #3C3C3C;
        font-size: 22px;
    }

    .user-section {
        font-size: 22px;
    }

    .user-section-inner {
        height: 65px;
        width: 65px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        overflow: hidden;
        display: inline-block;
        float: left;
        margin-right: 15px;
        margin-top: 20px;
    }

        .user-section-inner img {
            margin-left: 10px;
            width: 55px;
            height: 60px;
        }

    .user-info {
        display: block;
        color: #000 !important;
        display: inline-block;
        padding: 15px;
        margin-bottom: 0px;
        background-color: #3C3C3C;
    }

    .user-text-online {
        font-size: 18px;
        color: #fff
    }

    .user-circle-online {
        width: 15px !important;
        height: 15px !important;
    }

    .navbar-default {
        background-color: #3C3C3C;
        border-color: #3C3C3C;
    }

    #side-menu {
        background-color: #3C3C3C;
    }

        #side-menu a {
            color: white;
        }
</style>

<!-- navbar side -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <!-- sidebar-collapse -->
    <div class="sidebar-collapse">
        <!-- side-menu -->
        <ul class="nav" id="side-menu">
            <li class="狀態欄">
                <!-- user image section-->
                <div class="使用者外框  user-section">
                    <div class="user-section-inner">
                        <img src="assets/img/user.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <div>Jonny <strong>Deen</strong></div>
                        <div class="user-text-online">
                            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                        </div>
                    </div>
                </div>
                <!--end user image section-->
            </li>

            <li class="w-100">
                <a class="Menu" href="#"><i class="fa fa-calendar-check-o 按鈕圖示" aria-hidden="true"></i>行事曆與布告欄</a>
            </li>

            <li class="w-100">
                <a class="Menu" href="#"><i class="fa fa-map-marker 按鈕圖示1" aria-hidden="true"></i>差勤系統<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="Menu" href="#">Flot Charts</a>
                    </li>
                    <li>
                        <a class="Menu" href="#">Morris Charts</a>
                    </li>
                </ul>
                <!-- second-level-items -->
            </li>

            <li class="w-100">
                <a class="Menu" href="#"><i class="fa fa-window-maximize 按鈕圖示2" aria-hidden="true"></i>專案管理</a>
            </li>

            <li class="w-100">
                <a class="Menu" href="#"><i class="fa fa-list-alt 按鈕圖示2" aria-hidden="true"></i>表單申請</a>
            </li>

        </ul>
        <!-- end side-menu -->
    </div>
    <!-- end sidebar-collapse -->
</nav>
<!-- end navbar side -->
