

@{
    ViewBag.Title = "Index";

}






<nav class="mt-5">
    <div class="nav nav-tabs font-weight-bolder" id="nav-tab">
        <a class="nav-item nav-link active  text-dark" id="nav-home-tab" data-toggle="tab" href="#nav-S1">專案列表</a>
        <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-cpj">專案建立</a>
        <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-S2">初審專案</a>
        <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-S3">複審專案</a>
        <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-S4">專案進度回報</a>
        <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-S5">終審專案</a>

    </div>
</nav>

<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade active show" id="nav-S1">
        <div class="overflow-auto">
            <table class="table table-dark table-hover mt-3 text-nowrap">
                <thead>

                    <tr>
                        <th class="">專案編號</th>
                        <th class="">專案名稱</th>
                        <th class="">負責人</th>



                        <th>詳細</th>


                    </tr>

                </thead>
                <tbody class="tbody總表">
                </tbody>
            </table>
        </div>
    </div>




    <div class="tab-pane fade  w-100 h-100" id="nav-cpj">
        <form id="AddEMPForm" enctype="multipart/form-data">
            <div class="d-flex justify-content-center flex-wrap">
                <div class="mx-auto mt-3 col col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="form-group">
                        <input type="hidden" class="addpjid" />
                        <label>專案名稱：</label>
                        <input type="text" class="addname form-control " />
                    </div>
                    <div class="form-group">
                        <label>負責人：</label>
                        <input type="text" class="addma form-control" />
                    </div>

                    <div class="form-group">
                        <label>成員數：</label>
                        <input type="text" class="addmember form-control" />
                    </div>

                    <div class="form-group">
                        <label>客戶：</label>
                        <input type="text" class="addpc form-control" />
                    </div>

                    <div class="form-group">
                        <label>預算：</label>
                        <input type="text" class="budget form-control" />
                    </div>

                    <div class="form-group">
                        <label>專案簡介：</label>
                        <textarea id="addsam" rows="3" class="form-control"></textarea>
                    </div>
                </div>

                <div class="mt-5">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary w-100 addPj總表 addCreatePj " value="確認送出" /><br>
                        <input type="button" class="btn btn-primary w-100" onclick="Demo新建專案()" value="DEMO" />

                    </div>
                </div>
            </div>


        </form>


    </div>



    <div class="tab-pane fade " id="nav-S2">
        <div class="overflow-auto">
            <table class="table table-dark table-hover mt-3 text-nowrap">
                <thead>

                    <tr>
                        <th class="">專案編號</th>
                        <th class="">專案名稱</th>
                        <th class="">負責人</th>
                        <th class="">詳細</th>


                        <th class="">審核</th>
                    </tr>

                </thead>
                <tbody class="tbody初審">
                </tbody>
            </table>

            <table class="table table-dark table-hover mt-3 text-nowrap">
                <thead>

                    <tr>
                        <th class="">專案編號</th>
                        <th class="">專案名稱</th>
                        <th class="">負責人</th>
                        <th class="">詳細</th>
                        <th class="">審核</th>
                    </tr>

                </thead>
                <tbody class="tbody初審ok">
                </tbody>
            </table>



        </div>
    </div>



    <div class="modal fade" id="EditProfile" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="EditPJProfile"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary editsave " data-dismiss="modal">確認修改</button>
                    <button type="button" class="btn btn-primary  addteam" data-dismiss="modal">送出審查</button>
                    <button type="button" class="btn btn-secondary ClearModal" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>






    <div class="tab-pane fade" id="nav-S3">
        <div class="overflow-auto">
            <table class="table table-dark table-hover mt-3 text-nowrap">
                <thead>

                    <tr>
                        <th class="">專案編號</th>
                        <th class="">專案名稱</th>
                        <th class="">負責人</th>
                        <th class="">詳細</th>
                        <th class="">審核</th>
                    </tr>

                </thead>
                <tbody class="tbody複審">
                </tbody>

            </table>





        </div>
    </div>

    <div class="tab-pane fade" id="nav-S3">
        <div class="overflow-auto">
            <table class="table table-dark table-hover mt-3 text-nowrap">
                <thead>

                    <tr>
                        <th class="">專案編號</th>
                        <th class="">專案名稱</th>
                        <th class="">負責人</th>
                        <th class="">詳細</th>
                        <th class="">審核</th>
                    </tr>

                </thead>
                <tbody class="tbody複審ok">
                </tbody>

            </table>





        </div>
    </div>


    <div class="tab-pane fade " id="nav-S4">
        <div class="overflow-auto">
            <table class="table table-dark table-hover mt-3 text-nowrap">
                <thead>

                    <tr>
                        <th class="">專案編號</th>
                        <th class="">專案名稱</th>
                        <th class="">負責人</th>




                        <th>詳細</th>
                        <th>進度回報</th>
                    </tr>

                </thead>
                <tbody class="tbody進度回報">
                </tbody>
            </table>
        </div>
    </div>


    <div class="tab-pane fade " id="nav-S5">
        <div class="overflow-auto">
            <table class="table table-dark table-hover mt-3 text-nowrap">
                <thead>

                    <tr>

                        <th class="">專案編號</th>
                        <th class="">專案名稱</th>
                        <th class="">負責人</th>
                        <th class="">專案建立日期</th>

                        <th class="">專案團隊</th>

                        <th>詳細</th>


                    </tr>

                </thead>
                <tbody class="tbody終審">
                </tbody>
            </table>
        </div>
    </div>

</div>


@section script{
    <script>
        var PJPid;
        $.ajax({
            url: "/Project/PJShowEdit",
            method: "get",
            success: function (data) {
                $(data).each(function (index, item) {

                    $(".tbody總表").append(`<tr>
                       <td>${item.pjId}</td><td>${item.pjName}</td>
                        <td>${item.pjManager}</td>

                                                    
                <td><a class="btn btn-info empedit" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="startedit()">詳細</a></td>
                                                    

                                        </tr>`);
                })
      
            }
        })

        $.ajax({
            url: "/Project/PJShowEdit初審未通過",
            method: "get",
            success: function (data) {
                $(data).each(function (index, item) {

                    $(".tbody初審").append(`<tr>
                                                        <td>${item.pjId}</td><td>${item.pjName}</td>
                                                        <td>${item.pjManager}</td>
                                                     

                                                    <td><a class="btn btn-info empedit" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="startedit()">詳細</a></td>
                                                    <td><a class="btn btn-info empcheck1" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="edit初審()">審核</a></td>
                                        </tr>`);
                })
          
            }
        })


        $.ajax({
            url: "/Project/PJShowEdit初審通過",
            method: "get",
            success: function (data) {
                $(data).each(function (index, item) {

                    $(".tbody初審ok").append(`<tr>
                                                        <td>${item.pjId}</td><td>${item.pjName}</td>
                                                        <td>${item.pjManager}</td>
                                                      

                                                    <td><a class="btn btn-info empedit" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="to複審()">詳細</a></td>
                                                    <td><a class="btn btn-info empcheck1" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="startcheck1()">審核</a></td>
                                        </tr>`);
                })

            }
        })






        $.ajax({
            url: "/Project/PJShowEdit複審未通過",
            method: "get",
            success: function (data) {
                $(data).each(function (index, item) {

                    $(".tbody複審").append(`<tr>
                                                        <td>${item.pjId}</td><td>${item.pjName}</td>
                                                        <td>${item.pjManager}</td>
                                                      

                                                    <td><a class="btn btn-info empedit" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="to複審()">詳細</a></td>

                                                    <td><a class="btn btn-info empcheck2" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="edit複審()">審核</a></td>
                                        </tr>`);
                })
            

            }
        })


        $.ajax({
            url: "/Project/PJShowEdit複審通過",
            method: "get",
            success: function (data) {
                $(data).each(function (index, item) {

                    $(".tbody複審ok").append(`<tr>
                                                        <td>${item.pjId}</td><td>${item.pjName}</td>
                                                        <td>${item.pjManager}</td>
                                                      

                                                    <td><a class="btn btn-info empedit" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="to複審()">詳細</a></td>

                                                    <td><a class="btn btn-info empcheck2" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="edit複審()">審核</a></td>
                                        </tr>`);
                })


            }
        })



        $.ajax({
            url: "/Project/PJShowEdit",
            method: "get",
            success: function (data) {
                $(data).each(function (index, item) {

                    $(".tbody進度回報").append(`<tr>
                                                        <td>${item.pjId}</td><td>${item.pjName}</td>
                                                        <td>${item.pjManager}</td> 
                                                       

                                                    <td><a class="btn btn-info empedit" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="startedit()">詳細</a></td>
                                                    <td><a class="btn btn-info empedit" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="startedit()">進度回報</a></td>

                                        </tr>`);
                })
                // <td>${item.專案內容}</td>
                //<td>${item.專案人數}</td>

            }
        })




        $.ajax({
            url: "/Project/PJShowEdit",
            method: "get",
            success: function (data) {
                $(data).each(function (index, item) {

                    $(".tbody終審").append(`<tr>
                                                        <td>${item.pjId}</td><td>${item.pjName}</td>
                                                        <td>${item.pjManager}</td>
                                       

                                                    <td><a class="btn btn-info empedit" data-id="${item.pjId}" data-toggle="modal" data-target="#EditProfile" onclick="startedit()">詳細</a></td>

                                        </tr>`);
                })
                // <td>${item.專案內容}</td>
                //<td>${item.專案人數}</td>

            }
        })

       
        //初審審核
        function edit初審() {
            $.ajax({
                url: "/Project/PJEditDetail",
                data: {
                    "id": $(event.currentTarget).data("id")
                },
                method: "Get",
                success: function (data) {
                    $(".EditPJProfile").html(`
                                                    <div class="d-flex justify-content-center">
                                                    <div class="mr-1">

                                                        <input type="hidden" class="datapid" value="${data.pjId}"/>
                                                        專案名稱：<input class="form-control datapna" value="${data.pjName}"/>
                                                        負責人：<input  class="form-control datama" value="${data.pjManager}"/>
                                                        預算:<input  class="form-control datapv"value="${data.pjBudget}"/>
                                                        專案內容:<textarea  class="form-control datacont"value="${data.pj簡介}"></textarea>                                            
                                                        初審意見:<textarea  class="form-control dataad1"value="${data.pj初審意見}"></textarea>  
                                                        成員數:<input class="form-control datamemnb"value="${data.pj成員數}"/>
                                                        客戶:<input class="form-control dataev"value="${data.pj客戶}"/>
                                                        <input type="hidden" class="form-control datacpj"value="${data.pjCreateId}"/>
                                                         審核結果:<select type="hidden" class="dataaon1" value="${data.pj審核狀態}">
                            <option class=" form-control" disabled selected>初審審核結果</option>
                            <option value="初審通過">通過</option>
                            <option value="初審退回">退回</option>

                                                        </div>

                                                        </div>`);
                }
          
            });
        };
         //初審審核

          //複審審核
        function edit複審() {
            $.ajax({
                url: "/Project/PJEditDetail",
                data: {
                    "id": $(event.currentTarget).data("id")
                },
                method: "Get",
                success: function (data) {
                    $(".EditPJProfile").html(`
                                                    <div class="d-flex justify-content-center">
                                                    <div class="mr-1">

                                                        <input type="hidden" class="datapid" value="${data.pjId}"/>
                                                        專案名稱：<input class="form-control datapna" value="${data.pjName}"/>
                                                        負責人：<input  class="form-control datama" value="${data.pjManager}"/>
                                                        預算:<input  class="form-control datapv"value="${data.pjBudget}"/>
                                                        成員1:<input  class="form-control datacont"value="${data.pj成員1}">                                            
                                                        成員2:<input  class="form-control dataad1"value="${data.pj成員2}"> 
                                                        成員3:<input class="form-control datamemnb"value="${data.pj成員3}"/>
                                                        工作項目1:<input class="form-control dataev"value="${data.pj工作項目1}"/>
                                                        工作項目2:<input class="form-control dataev"value="${data.pj工作項目2}"/>
                                                        工作項目3:<input class="form-control dataev"value="${data.pj工作項目3}"/>
                                                        
                                                         審核結果:<select type="hidden" class="dataaon1" value="${data.pj審核狀態}">
                            <option class=" form-control" disabled selected>複審審核結果</option>
                            <option value="複審通過">通過</option>
                            <option value="複審退回">退回</option>

                                                        </div>

                                                        </div>`);
                }

            });
        };

          //複審審核






        //送複審
        function startedit() {
            $.ajax({
                url: "/Project/PJEditDetail",
                data: {
                    "id": $(event.currentTarget).data("id")
                },
                method: "Get",
                success: function (data) {
                    
                    $(".EditPJProfile").html(`
                                                    <div class="d-flex justify-content-center">
                                                    <div class="mr-1">

                                                        <input type="hidden" class="datapid" value="${data.pjId}"/>
                                                        專案名稱：<input class="form-control datapna" value="${data.pjName}"/>
                                                        負責人：<input  class="form-control datama" value="${data.pjManager}"/>
                                                       
                                                        審核狀態:<input  class="form-control dataaon1 " value="${data.pj審核狀態}"/>
                                                        
                                                        </div>

                                                        </div>`);
                }

            });
        };


            //送複審



        $(".editsave").click(function () {
            //console.log($(".datach").val());
            $.ajax({
                url: "/Project/PJEditDetail",
                method: "Post",
                data: {

                    "pjId": $(".datapid").val(),
                    "pjName": $(".datapna").val(),
                    "pjManager": $(".datama").val(),
  
                   
                    "pjCreateId": $(".datacpj").val(),
  
      
            

                    //formData

                },
                success: function () {
                    $.ajax({
                        url: "/Project/PJEditDetail建立",
                        method: "Post",
                        data: {

                            "pjCreateId": $(".datacpj").val(),
                            "pjBudget": $(".datapv").val(),
                            "pj審核狀態": $(".dataaon1").val(),
                            "pj初審意見": $(".dataad1").val(),
                            "pj客戶": $(".dataev").val(),
                            "pj成員數": $(".datamemnb").val(),
                            "pj簡介": $(".datacont").val(),

                            "專案工作項目": $(".datajblist").val(),

                            "pj複審意見": $(".dataad2").val()
                            //formData

                        },


                        success: function () {
                            $.ajax({
                                url: "/Project/PJEditDetail團隊",
                                method: "Post",
                                data: {

                                    "pjId": $(".datapid").val(),
                                    "pj工作項目1": $(".datapv").val(),
                                    "pj審核狀態": $(".dataaon1").val(),
                                    "pj初審意見": $(".dataad1").val(),
                                    "pj客戶": $(".dataev").val(),
                                    "pj成員數": $(".datamemnb").val(),
                                    "pj簡介": $(".datacont").val(),

                                    "專案工作項目": $(".datajblist").val(),

                                    "pj複審意見": $(".dataad2").val()
                                    //formData

                                },
                                success: function () {
                                    $.ajax({
                                        url: "/Project/PJShowEdit",
                                        method: "get",
                                        success: function (data) {
                                            $("#tbody總表").html("");
                                            $(data).each(function (index, item) {
                                                $("#tbody總表").append(`<tr><td>${item.專案編號}</td><td>${item.專案名稱}</td>
                                                        <td>${item.負責人}</td><td>${item.專案建立日期}</td>
                                                    <td><a class="btn btn-info empedit" data-id="${item.專案編號}" data-toggle="modal" data-target="#EditProfile" onclick="startedit()">編輯</a></td>
                                                     <td><a class="btn btn-danger " data-id="${item.專案編號}" onclick="DeleteEMP()">刪除</a></td>
                                        </tr>`);
                                            })
                                        }
                                    })
                                }
                            })
                        }

                    })
                }
            })
        });

        //初審 
        //disabled 格子無法修改

        function startcheck1() {
            $.ajax({
                url: "/Project/PJEditDetail",
                data: {
                    "id": $(event.currentTarget).data("id")
                },
                method: "Get",
                success: function (data) {
                    $(".EditPJProfile").html(`
                                                    <div class="d-flex justify-content-center">
                                                    <div class="mr-1">

                                                       <input type="hidden" class="datapid" value="${data.pjId}"/>
                                                        專案名稱：<input disabled="disabled" class="form-control datapna" value="${data.pjName}"/>
                                                        負責人：<input disabled="disabled" class="form-control datama" value="${data.pjManager}"/>
                                                       
                                                
                                                        預算:<input disabled="disabled" class="form-control datapv"value="${data.pjBudget}"/>
                                                        成員數:<input disabled="disabled" class="form-control datapv"value="${data.pj成員數}"/>
                                                        專案內容:<textarea disabled="disabled" class="form-control datacont"value="${data.pj簡介}"></textarea>
                                                        初審審核意見:<textarea  class="form-control dataad1"value="${data.初審意見}"></textarea>
                                                        
                                                        <select type="hidden" class="dataaon1" value="${data.審核狀態}">
                                                        <option class=" form-control" disabled selected>初審審核結果</option>
                                                        <option value="1">通過</option>
                                                        <option value="0">退回</option>
                            
                                                        </select>




                                                        </div>

                                                        </div>`);
                }

            });
        };





      

       //初審 

        //複審

        function startcheck2() {
            $.ajax({
                url: "/Project/PJEditDetail",
                data: {
                    "id": $(event.currentTarget).data("id")
                },
                method: "Get",
                success: function (data) {
                    $(".EditPJProfile").html(`
                                                    <div class="d-flex justify-content-center">
                                                    <div class="mr-1">

                                                       <input type="hidden" class="datapid" value="${data.pjId}"/>
                                                        專案名稱：<input disabled="disabled" class="form-control datapna" value="${data.pjName}"/>
                                                        負責人：<input disabled="disabled" class="form-control datama" value="${data.pjManager}"/>
                                           
                                             
                                                       
                                                        <input type="hidden" class="form-control datapv"value="${data.初審審核結果}"/>
                                                        


                                                        <input type="hidden" class="form-control dataac"value="${data.實際成本}"/>
                                                        <input type="hidden" class="form-control datalv"value="${data.審核階段}"/>
                                                      

                                                        <input disabled="disabled" class="form-control datajblist"value="${data.專案工作項目}"/>
                                                       
                                                        <input type="hidden" class="form-control dataev"value="${data.淨利}"/>
                                                        <input type="hidden" class="form-control dataad3"value="${data.終審審核意見}"/>
                                                        <input  type="hidden" class="form-control dataaon3"value="${data.終審審核結果}"/>
                                                      

                                                       <select type="hidden" class="dataaon2" value="${data.複審審核結果}">
                            <option class=" form-control" disabled selected>複審審核結果</option>
                            <option value="通過">通過</option>
                            <option value="0">退回</option>
                            
                                                        </select>
                                                        <textarea  class="form-control dataad2"value="${data.複審審核意見}"></textarea>

                                                        </div>
    
                                                        </div>`);
                }

            });
        };



        function Demo新建專案() {
          
                    
                        $(".addname").val("旅遊網站"),
                        $(".addma").val("少林方丈"),
                        $(".budget").val("60000"),
                        $("#addsam").val("旅遊網站建立委託"),
                        $(".addmember").val("3"),
                        $(".addpc").val("胡冠安")
                
         
        }



        //複審

        function to複審() {
       


            $.ajax({
                url: "/Project/PJEditDetail",
                method: "get",
                data: {
                    "id": $(event.currentTarget).data("id")
                },
                success: function (data) {
                    console.log(`${ data.pjId }`);
                    pj成員數 = `${data.pj成員數}`;
                    $('.EditPJProfile').html("");
                    for (var i = 0; i < pj成員數; i++) {
                        $('.EditPJProfile').append(`
                    <div class="form-row mt-2"><input type="hidden" class="form-control tpjid"value="${data.pjId}"></input></div>
                        <div class="form-row mt-2">
                            <div><label>專案成員</label><input type="text" class="form-control emp${ i}" ></div>
                            <div><label>成員工作</label><input type="text" class="form-control jb${i} "></div> 
                        </div>
                    `
                    
                      
                     )}
                }
            })
        };
               
        $(".addteam").click(function () {
            var rad = new Date();
            $.ajax({
                url: "/Project/tosecond",
                method: "post",
                data: {
                    "pjId":$(".tpjid").val(),
                    "pj成員1": $(".emp0").val(),
                    "pj成員2": $(".emp1").val(),
                    "pj成員3": $(".emp2").val(),
                    "pj成員4": $(".emp3").val(),
                    "pj成員5": $(".emp4").val(),
                    "pj成員6": $(".emp5").val(),
                    "pj成員7": $(".emp6").val(),
                    "pj工作項目1": $(".jb0").val(),
                    "pj工作項目2": $(".jb1").val(),
                    "pj工作項目3": $(".jb2").val(),
                    "pj工作項目4": $(".jb3").val(),
                    "pj工作項目5": $(".jb4").val(),
                    "pj工作項目6": $(".jb5").val(),
                    "pj工作項目7": $(".jb6").val(),
                



                },
            });
        });



        $(".addCreatePj").click(function () {
            var rad = new Date();
            $.ajax({
                url: "/Project/createPj",
                method: "post",
                data: {
                    "pjCreateId": rad.toString(),
               
                    "pjBudget": $(".budget").val(),
                    "pj審核狀態": "初審未審核",
                    "pj初審意見": $(".firad").val(),
                    "pj複審意見": $(".secad").val(),
                    "pj簡介": $("#addsam").val(),
                    "pj成員數": $(".addmember").val(),
                    "pj客戶": $(".addpc").val(),
                },
                success: function () {
                    console.log($(".name").val());
                    $.ajax({
                        url: "/Project/addPj總表",
                        method: "post",
                        data: {
                            "pjName": $(".addname").val(),
                            "pjManager":$(".addma").val(),
                            "pjCreateId": rad.toString(),
                            "pjPlannedAndControl": $(".addpac").val(),
                            "pjMeeting": $(".addmeeting").val(),
                            "pjFinalReport":$(".addfr").val(),
                        },
                        success: function () {
                            console.log("ok");
                        }
                    });

                }
            });
        });







    </script>
}

