

<form class="mt-5">
    <div class="form-group ">
        <label for="pjMain-Name">Name</label>
        <input type="text" readonly class="form-control append-pjMain-Name" id="pjMain-Name" aria-describedby="123">
        <small id="123" class="form-text text-muted"></small>
    </div>
    <div class="form-group ">
        <label for="pjMain-Manager">Manager</label>
        <input type="text" class="form-control append-pjMain-Manager" id="pjMain-Manager" readonly name="pjMain-Manager">
    </div>

</form>

<form name="">
    <div class="form-group ">
        <label for="pjStartDate" class="col-sm-2 col-form-label">StartDate</label>
            <input type="date" class="form-control" id="pjStartDate"> 
    </div>
    <div class="form-group ">
        <label for="pjEndDate" class="col-sm-2 col-form-label">EndDate</label>   
            <input type="date" class="form-control" id="pjEndDate"> 
    </div>
    <div class="form-group ">
        <label for="pjGoal" class="col-sm-2 col-form-label">Goal</label>    
            <textarea rows="2" type="text" class="form-control" id="pjGoal" style="resize: none;"></textarea>
    </div>
    <div class="form-group">
        <label for="pjIntput" class="col-sm-2 col-form-label">Intput</label>
            <textarea rows="6" type="text" class="form-control" id="pjIntput" style="resize: none;"></textarea>
    </div>
    <div class="form-group append-pjMember"></div>

    <button type="button" class="btn btn-primary sendFormData">Submit</button>
</form>




@section script{
    <script>
        //解析url, 取?之後id的參數
        var getUrlString = location.href;
        var url = new URL(getUrlString);
        var id = url.searchParams.get('id');
        //console.log(id);
        $.ajax({
            url: "/projectControl/getMainData1",
            method: "get",
            data: { "id": id },
            success: function (data) {
                //console.log(data);
                //console.log(`${data.pj成員數}`);
                const pj成員數 = `${data.pj成員數}`;
                console.log(pj成員數);
                $(".append-pjMain-Name").val(`${data.pjName}`);
                $(".append-pjMain-Manager").val(`${data.pjManager}`);

                for (var i = 0; i < pj成員數; i++) {
                    $('.append-pjMember').append(`
                        <div class="form-row mt-2">
                            <div><label>Member</label><input type="text" class="form-control"/></div>
                            <div><label>Target</label><input type="text" class="form-control"/></div>
                            <div><label>Fixed Duration</label><input type="text" class="form-control"/></div>
                        </div>
                    `)

                }
            }
        })

        $('.sendFormData').click(function sendFormData() {
            var textarea = $('#pjIntput').val();
            console.log(textarea);
        })
     


    </script>
}