
<div class="ui pointing secondary menu">
    <a class="item active" data-tab="first">專案列表</a>
    <a class="item " data-tab="second">建立專案</a>
    <a class="item" data-tab="third">專案控管</a>
</div>
<div class="ui tab segment active" data-tab="first">
    <table class="ui selectable celled table">
        <thead>
            <tr>
                <th>專案名稱</th>
                <th>負責人</th>
                <th>概要</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>No Action</td>
                <td>None</td>
                <td class="selectable">
                    <a href="#" class="woo">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Jamie</td>
                <td>Approved</td>
                <td>Requires call</td>
                <td class="selectable">
                    <a href="#" class="sendInfo" data-id="1">Send</a>
                </td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Denied</td>
                <td>None</td>
                <td class="selectable">
                    <a href="#">Edit</a>
                </td>
            </tr>
            <tr class="warning">
                <td>John</td>
                <td>No Action</td>
                <td>None</td>
                <td class="selectable">
                    <a href="#">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Jamie</td>
                <td class="positive">Approved</td>
                <td class="warning">Requires call</td>
                <td class="selectable">
                    <a href="#">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Jill</td>
                <td class="negative">Denied</td>
                <td>None</td>
                <td class="selectable">
                    <a href="#">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="ui tab segment " data-tab="second">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="second/a">專案建立審核</a>
        <a class="item" data-tab="second/b">建立初審</a>
        <a class="item" data-tab="second/c">建立複審</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="second/a">
        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>專案名稱</th>
                    <th>審核結果</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jamie</td>
                    <td class="positive">Approved</td>
                    <td class="selectable positive">
                        <a href="#">Approve</a>
                    </td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td class="negative">Denied</td>
                    <td class="selectable negative">
                        <a href="#">Remove</a>
                    </td>
                </tr>
                <tr class="warning">
                    <td>John</td>
                    <td>No Action</td>
                    <td class="selectable">
                        <a href="#">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second/b">
        <div class="ui form">
            <div class="fields">
                <div class="five wide field">
                    <label>專案名稱</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="one wide field"></div>
                <div class="five wide field">
                    <label>專案預算</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="five wide field">
                    <label>專案簡介</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="one wide field"></div>
                <div class="five wide field">
                    <label>專案成員數</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="five wide field">
                    <label>專案經理</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="one wide field"></div>
                <div class="two wide field">
                    <label>開始日期</label>
                    <input type="date" placeholder="First Name">
                </div>
                <div class="two wide field">
                    <label>結束日期</label>
                    <input type="date" placeholder="First Name">
                </div>
                <div class="one wide field">
                    <label>預估天數</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="five wide field">
                    <label>專案客戶</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="one wide field"></div>
                <div class="five wide field"></div>
                <div class="five wide field"></div>
            </div>
            <div class="fields mt-3">
                <div class="eleven wide field d-flex justify-content-end">
                    <button class="ui inverted red button">取消</button>
                    <button class="ui inverted primary button">確認</button>
                </div>
                <div class="five wide field d-flex"></div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second/c">
        <div class="ui form">
            <div class="fields">
                <div class="two wide field">
                    <label>部門</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="four wide field">
                    <label>成員姓名</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field">
                    <label>專案項目</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="two wide field">
                    <label>部門</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="four wide field">
                    <label>成員姓名</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field">
                    <label>專案項目</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="two wide field">
                    <label>部門</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="four wide field">
                    <label>成員姓名</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field">
                    <label>專案項目</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields mt-3">
                <div class="eleven wide field d-flex justify-content-end">
                    <button class="ui inverted red button">取消</button>
                    <button class="ui inverted primary button">確認</button>
                </div>
                <div class="five wide field d-flex"></div>
            </div>
        </div>
    </div>
</div>
<div class="ui tab segment" data-tab="third">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="third/a">專案規劃</a>
        <a class="item" data-tab="third/b">專案進度</a>
        <a class="item" data-tab="third/c">每日進度</a>
        <a class="item" data-tab="third/d">專案會議記錄</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="third/a">3A</div>
    <div class="ui bottom attached tab segment" data-tab="third/b">
        <div class="ui form">
            <div class="fields">
                <div class="five wide field">
                    <label>專案名稱</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="one wide field"></div>
                <div class="five wide field">
                    <label>專案預算</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="five wide field">
                    <label>專案簡介</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="one wide field"></div>
                <div class="five wide field">
                    <label>專案成員數</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="five wide field">
                    <label>專案經理</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="one wide field"></div>
                <div class="two wide field">
                    <label>開始日期</label>
                    <input type="date" placeholder="First Name">
                </div>
                <div class="two wide field">
                    <label>結束日期</label>
                    <input type="date" placeholder="First Name">
                </div>
                <div class="one wide field">
                    <label>預估天數</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="five wide field"></div>
            </div>
            <div class="fields">
                <div class="five wide field">
                    <label>專案客戶</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="one wide field"></div>
                <div class="five wide field"></div>
                <div class="five wide field"></div>
            </div>
            <div class="fields mt-3">
                <div class="eleven wide field d-flex justify-content-end">
                    <button class="ui inverted red button">取消</button>
                    <button class="ui inverted primary button">確認</button>
                </div>
                <div class="five wide field d-flex"></div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third/c">3C</div>
    <div class="ui bottom attached tab segment" data-tab="third/d">3D</div>
</div>


@section script{
    <script>
        $('.menu .item').tab();

        $('.woo').click(function () {
            window.alert('woo');
        });
        $('.sendInfo').click(function () {
            console.log($(event.currentTarget).data('id'));
            $.ajax({
                url: "",
                method: "post",
                data: { 'id': $(event.currentTarget).data('id') },
                success: function (data) {
                    console.log('nice');
                }
            })
        })

    </script>
}
