@{
    ViewBag.Title = "首頁";
}

<div class="HomePic">
    <div class="w-75 h-75 container">
        <img class="w-100 h-100 container-fluid" src="~/images/Logo.png" />
    </div>
</div>
<div class="mt-5 w-100">
    <div class="d-flex bottomdiv">
        <div class="ui card " data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i></div></div>">
            <div class="image">
                <img src="~/images/20210318041939IU001.jpg">
            </div>
            <div class="content">
                <div class="header">My Neighbor Totoro</div>
                <div class="description">
                    Two sisters move to the country with their father in order to be closer to their hospitalized mother, and discover the surrounding trees are inhabited by magical spirits.
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <div class="ui button">
                    <i class="add icon"></i>
                    Queue
                </div>
                <div class="ui primary button">
                    <i class="play icon"></i>
                    Watch
                </div>
            </div>
        </div>
        <div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i></div></div>">
            <div class="image">
                <img src="~/images/20210318041939IU001.jpg">
            </div>
            <div class="content">
                <div class="header">My Neighbor Totoro</div>
                <div class="description">
                    Two sisters move to the country with their father in order to be closer to their hospitalized mother, and discover the surrounding trees are inhabited by magical spirits.
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <div class="ui button">
                    <i class="add icon"></i>
                    Queue
                </div>
                <div class="ui primary button">
                    <i class="play icon"></i>
                    Watch
                </div>
            </div>
        </div>
        <div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i></div></div>">
            <div class="image">
                <img src="~/images/20210318041939IU001.jpg">
            </div>
            <div class="content">
                <div class="header">My Neighbor Totoro</div>
                <div class="description">
                    Two sisters move to the country with their father in order to be closer to their hospitalized mother, and discover the surrounding trees are inhabited by magical spirits.
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <div class="ui button">
                    <i class="add icon"></i>
                    Queue
                </div>
                <div class="ui primary button">
                    <i class="play icon"></i>
                    Watch
                </div>
            </div>
        </div>
        <div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i></div></div>">
            <div class="image">
                <img src="~/images/20210318041939IU001.jpg">
            </div>
            <div class="content">
                <div class="header">My Neighbor Totoro</div>
                <div class="description">
                    Two sisters move to the country with their father in order to be closer to their hospitalized mother, and discover the surrounding trees are inhabited by magical spirits.
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <div class="ui button">
                    <i class="add icon"></i>
                    Queue
                </div>
                <div class="ui primary button">
                    <i class="play icon"></i>
                    Watch
                </div>
            </div>
        </div>
    </div>



</div>
@section script{
    <script>
    </script>
    }
