@{
    ViewBag.Title = "員工登入系統";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}



<div class="LoginForm ">
    <div class="w-100 border-top"></div>
    <div class="d-flex">
        <div class="EIPLOGO">
            <img class="w-100 h-100" src="~/images/Logo.png" />
        </div>
        <div class="Block2">
            <form class="FormLogin px-4 py-4 formbord ui form mt-5">
                <div>
                    <div class="field ui massive label d-flex justify-content-center">
                        <i class="user outline icon"></i>員工登入系統
                    </div>
                    <div class="field">
                        <label class="inputtext ">帳號：</label>
                        <div class="ui left icon input">
                            <input type="text" placeholder="E-mail..." class="ACCtext" name="ACCtext">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label class="inputtext mt-5">密碼：</label>
                        <div class="ui left icon input">
                            <input class="PWtext" name="PWtext" type="password" placeholder="Password..." />
                            <i class="key icon"></i>
                        </div>
                    </div>
                    <div class="mt-5">
                        <input type="checkbox" class="mt-1 mr-1" />
                        <label class="RememberME font-weight-bolder">記住我</label>
                    </div>

                    <div class="form-group mt-2">
                        <button class="ui black button w-100 btnSend mt-2">
                            <i class="icon sign-in"></i>
                            登入
                        </button>
                        <input type="reset" class="resetform" hidden />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="bottomblock w-100 border-top"></div>
</div>

@section script{
    <script>
        $(".btnSend").click(function () {
            event.preventDefault();
            $.ajax({
                url: "/Home/AccPwCheck",
                data: {
                    "信箱": $(".ACCtext").val(),
                    "EmployeePW": $(".PWtext").val(),
                    "記住我": $(".RememberME").val()
                },
                method: "get",
                success: function (data) {
                    if (data.status != "") {
                        setTimeout(function () { window.location.href = "/Home/Index"; }, 1000);
                        swal("登入成功", "請稍後...", "success");
                    } else {
                        $(".resetform").click();
                        swal("登入失敗", "帳號或密碼錯誤,請重新登入...", "error");
                    }

                }
            })

        })

    </script>
}