@model EIP.Models.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Index";
}



<div>
    <br />
    <h1>我是首頁</h1>
    <hr />
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

</div>